<header class="container">
  <div class="header-data">
    <h1><a href="/">Task Manager</a></h1>

    <nav>
      <ul class="no-bullets nav-list">
        <li><a href="/events">Upcoming Tasks</a></li>
      </ul>
    </nav>
  </div>
</header>
